.button-like {
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  height: 27px;
  width: 21px;
  background-color: white;
  border: 0px;
  cursor: pointer;
  margin: auto;
  padding-right: 30px;
}

.button-like:hover {
  opacity: 0.5;
}

