* { 
  padding: 0; 
  margin: 0; 
} 
.page { 
  background-color: #000000; 
  max-width: 1280px; 
  margin: auto; 
  font-family: Inter; 
  box-sizing: border-box;
}

.header {
  padding-top: 45px;
  margin: auto;
  width: 880px;
  height: 74px;
  border: 0;
  border-bottom: 1px solid #545454;
}

.profile {
  margin: 40px auto 50px;
  width: 880px;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.profile__info {
  grid-column: 2/5;
  grid-row: 1/3;
}

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.profile__name {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  color: #FFFFFF;
}

.button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  grid-column: 5/6;
  grid-row: 1/2;
  background-color: #000000;
  color: #FFFFFF;
}

.profile__profession {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  grid-column: 2/4;
  grid-row: 2/3;
}

.popup{
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  z-index: 100;
 
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-button {
  background-color: #000000;
  height: 70px;
  width: 70px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: normal;
  position: absolute;
  right: -60px;
  top: -60px;
  cursor: pointer;
  transform: rotate(-45deg);

}

.popup__title {
  width: 330px;
  height: 23px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.popup__item {
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  
}

.popup__item_name {
  width: 358px;
  height: 27.34px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

}

.popup__item_profession {
  width: 358px;
  height: 27.34px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

}

.button-submit {
  width: 358px;
  height: 50.15px;
  background: #000000;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  text-align: center;
  margin: auto;
}

.cards {
    width: 880px;
    height: 743px;
    margin: 50px auto 68px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 17px 20px;
  }

.cards__item {
  width: 282px;
  height: 361px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.cards__image {
  width: 282px;
  height: 282px;
}

.cards__name {
  width: 246px;
  height: 30px;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: auto;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  color: #545454;
  width: 880px;
  padding-bottom: 60px;
  margin: 0 auto;
}
