.close-button {
  height: 40px;
  width: 40px;
  font-weight: normal;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  background-image: url(../../images/Close_Icon.svg);
  background-size: cover; 
  background-position: top; 
  background-repeat: no-repeat; 
  background-color: #000000;
}

.close-button:hover { 
  background-image: url(../../images/Close_Icon-gray.svg); 
} 